{% extends 'base.html' %}

{% block content %}

    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
            placeholder="Video title"
            value="{{ request.form['title'] or post['title'] }}"></input>
        <br>
    </form>



    <h1>{% block title %} Videos {% endblock %}</h1>
    {% for v in videos %}
        <div class='post'>
            <p>{{ v['created'] }}</p>
            <h2>{{ v['title'] }}</h2>
            <p>{{ v['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}

